body {
    height: 3000px;
}

.item {
    width: 300px;
    height: 200px;

    position: relative;
}

.shirt {
    width: 300px;
}

.discount {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    background-color: black;
    color: white;

    border: none;

    padding: 6px;

    position: absolute;
    top: 0px;
    right: 0px;
}